<footer class="bg-dark text-center text-white mt-auto">
    <div>
        Made with <span style="color: #e25555">â¤</span> by
        <a class="text-white" href="https://github.com/ritik48" target="_blank"
            >Ritik</a
        >
    </div>
</footer>
