<nav>
    <div class="container">
        <div class="left">
            <div class="brand-text">LinkifyText</div>
            <a href="/"><img class="add" src="/assets/add.png" alt="" /></a>
        </div>
        <p class="mode">
            <span class="square light"></span>
        </p>
    </div>
</nav>
